* {
    overflow-y: hidden;
    user-select: none;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

html, body {
    flex: 1;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#board {
    background-image: url("./img/octiejumpbg.PNG");
    z-index: 0;
}

#gameOverMenu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    background: url(./img/game_over_background.PNG);
    gap: 5%;
}

#gameOverMenu .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#gameOverMenu h1 {
    font-size: 50px;
    color: red;
    margin: 0;
}

#gameOverMenu h2 {
    font-size: 30px;
}

#gameOverMenu span {
    font-size: 20px;
}

#gameOverMenu h2, #gameOverMenu span {
    color: white;
}

#stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    width: 60%;
}

.statsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    margin-top: 20px;
    width: 100%;
}

.statsContainer img {
    width: 50px;
    height: 50px;
}

.buttonContainer {
    width: 100%;
}

#playAgain {
    background: url(./img/play_again_button.PNG) no-repeat;
    background-size: 100% 100%;
    width: 30%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
    padding: 7px;
    border: none;
    transition-duration: .2s;
}

#playAgain:hover {
    transform: scale(1.1);
}

#playAgain:active {
    transform: scale(.9);
}

#mainMenu {
    background: url(./img/menu_button.PNG) no-repeat;
    background-size: 100% 100%;
    width: 40%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
    padding: 5%;
    border: none;
    transition-duration: .2s;
}

#mainMenu:hover {
    transform: scale(1.1);
}

#mainMenu:active {
    transform: scale(.9);
}